#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ 

ifneq  ($(realpath Makefile),)
override_dh_auto_clean:
	make relclean
endif

override_dh_auto_configure:
	./autogen.sh --prefix=/usr

override_dh_auto_build:
	make all doc

override_dh_auto_test:
	make check

override_dh_auto_install:
	make install_include install_lib DESTDIR=$(CURDIR)/debian/tmp
